# Victoria Versteegh

## Research question/interests

Briefly describe your research question or interests here.

In [ ]:
import numpy as np
import pandas as pd

data1 = pd.read_csv("C:\\Users\\athar\\Documents\\COSC 301\\project-group41\\data\\raw\\2015.csv")
data1.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [ ]:
data2 = pd.read_csv("C:\\Users\\athar\\Documents\\COSC 301\\project-group41\\data\\raw\\2016.csv")
data2.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [ ]:
data3 = pd.read_csv("C:\\Users\\athar\\Documents\\COSC 301\\project-group41\\data\\raw\\2017.csv")
data3.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Norway,1,7.537,1.61646,1.53352,0.79667,0.63542,0.31596,0.36201,2.27703
1,Denmark,2,7.522,1.48238,1.55112,0.79257,0.62601,0.40077,0.35528,2.31371
2,Iceland,3,7.504,1.48063,1.61057,0.83355,0.62716,0.15353,0.47554,2.32272
3,Switzerland,4,7.494,1.56498,1.51691,0.85813,0.62007,0.36701,0.29055,2.27672
4,Finland,5,7.469,1.44357,1.54025,0.80916,0.61795,0.38261,0.24548,2.43018